page-list-master {
  .bar-stable{
    font-size: 16px;
    color: #4c4c4c;
    padding: 0px;
  }
  .head-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .row{
      padding: 0px;
      .col{
        padding:0px;
      }
    }
    .head-tab {
      padding: 0 5px;
      align-self: center;
      text-align: center;
      line-height: 44px;
      &.active{
        color:color($colors,primary);
        border-bottom: 2px solid color($colors,primary);
      }
    }
  }
}
